@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --bgcolor1 :#F9F9F9;
  --bgcolor2 :#FFFFFF;
}

html{
  font-size: 16px;
  color: #444444;
}

body{
  font-family: "Open Sans", sans-serif;
  /* overflow: hidden; */
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none; 
  border-radius: .3rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999999; 
  border-radius: .6rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}
/*** Header ***/

.my-header{
  min-height: 5rem;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 200;
  top: 0;
  padding: 1.5rem 3rem;
  box-shadow: 0 0 .6rem rgba(0,0,0,.09);
  background-color: #fff;
}

.open-menu-button{
  display: none;
  border: none;
  background-color: #fff;
  font-size: 1.8em;
  color: #444444;
  margin: 0 0 0 auto;
  cursor: pointer;
}

.open-menu-button:hover{
  color: black;
  scale: 1.2;
}

.close-button{
  display: none;
  border: none;
  background-color: #F9F9F9;
  font-size: 1.8em;
  color: #444444;
  margin: 0 0 0 auto;
  cursor: pointer;
  order: -1;
}

.close-button:hover{
  color: black;
  scale: 1.2;
}

.my-header a{
  text-decoration: none;
  color: #444444;
}

.my-logo{
  font-size: 2em;
  font-weight: 700;
}

.my-links{
  font-size: .9em;
  font-weight: 700;
  display: flex;
  gap:20px;
  margin-left: auto;
  transition: all .3s ease-in-out;
  z-index: 300;
}

.mobile-links{
  left: -100%!important;
}

.toggle--navlink{
  left: 0!important;
}

.my-nav-links{
  font-size: 1.5em;
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 100%;
  padding:  1.5rem 3rem;
  gap:1.5em;
  top: 0;
  right: 0;
  height: 100vh;
  text-align: center;
  background-color: #F9F9F9;
  transition: all .3s ease-in-out;
  z-index: 300;
}

.my-links a{
  padding: .5em;
}

.my-links a:hover{
  font-weight: 900;
  background-color:#EBEBEB;
  border-radius: .5em;
  padding: .5em;
  color: black;
}

a.link--active{
  font-weight: 900;
  background-color:#EBEBEB;
  border-radius: .5em;
  padding: .5em;
  color: black;
}

/*** Home Page***/
.home-page{
  min-height: 100vh;
  position: relative;
  padding: 10em 0 8em 0;
  background-color: var(--bgcolor1);
}

.home-container, .about-container{
  display: flex;
  align-content: space-between;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  padding: 0 clamp(2em, 3vw, 4em);
}

.my--info{
  display: flex;
  flex-direction: column; 
  row-gap: 1.3rem;
  max-width:35rem ;
}

.my--role{
  max-width: 35rem;
  font-size: clamp(2em, 5vw, 2.7em);
  font-weight: 800;
}

.my--description{
  /* max-width: 35rem; */
  color: #767676;
}
.social--links a{
  text-decoration: none;
}

.social--links{
  display: flex;
  gap: 1.3rem;
}

.linkedin--icon, .git--icon{
  color: #333333;
  font-size: 3em;
}

.linkedin--icon:hover{
  color: #147EFB;
}

.git--icon:hover{
  color: #147EFB;
}

.my--image{
  width: clamp(20rem, 5vw, 35rem);
  height: clamp(20rem, 5vw, 35rem);
  border-radius: 1.6rem;
  box-shadow: 0 0 0.6rem rgba(0,0,0,.1);
}

.tech--stacks{
  display: flex;
  gap: .8rem;
  align-items: center;
  margin-top: 2rem;
}
.tech-icons-container{
  display: flex;
  gap: 1em;
}
.tech--icon{
  max-width: 2.5rem;
  max-height: 2.5rem;

}

.icon--container{
  justify-content: center;
  display: flex;
  align-items: center;
  width: 4rem;
  height: 4rem;
  max-width: 4rem;
  max-height: 4rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow:  0px 0px .6rem .2rem rgba(0,0,0,.09);
}

.stack--text{
  font-size: 1.5em;
  font-weight: 500;
  border-right: solid #767676;
  padding: .4em;
}
/*** About Page***/
.about-page{
  position: relative;
  min-height: 100vh;
  padding: 8em 0;
  background-color: var(--bgcolor2);
}

.aboutme--section{
  display:flex;
  flex-direction: column;
  row-gap: 1.2em;
  max-width: 35rem;
}

.aboutme--image{
  max-width: 35rem;
  max-height: 28rem;
  object-fit: cover;
  border-radius: 1.6rem;
  box-shadow: 0 0 .6rem rgba(0,0,0,.1);
}

.aboutme--title{
  font-size: 1.2em;
  font-weight: 900;
  color: #147EFB;
}

.aboutme--intro{
  font-size: 1.5em;
  font-weight: 900;
}
.aboutme--context{
  font-size: 1em;
  font-weight: 500;
  color: #767676;
}

/***Projects Page***/
.projects-page{
  display: flex;
  flex-direction: column;
  position: relative;  
  justify-content: center;
  padding: 8em 0;
  
  background-color: var(--bgcolor1);
}

.projects-container{
  margin: 0 auto;
  max-width: clamp(10rem, 100vw, 100rem);
  padding: 0 clamp(1rem, 10vw, 10rem);
}

.portfolio--text{
  font-size: 1.2em;
  font-weight: 900;
  color: #147EFB;
}

.portfolio--items{
  min-height: 20rem;
}

.portfolio--item{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  min-height: 20rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.2rem;
  margin-top: 3em;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  align-items: center;
}

.project--image{
  border-radius: 1rem;
  width: clamp(20em,50vw,45em);
  height: auto;
  box-shadow: 0 0 .6rem rgba(0,0,0,.1);
}

.projects--text{
  margin-right: auto;
}

.intro--text{
  font-size: 1.6em;
}

.project--name{
  font-size: 1.3em;
  font-weight: 800;
}

.project--description{
  font-size: 1.1em;
  font-weight: 500;
  color: #999999;
  padding: 0 1em;
}

.project--details{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  row-gap: 1em;
  text-align: center;
  margin: 0 auto;
}

.project--links{
  display: flex;
  flex: wrap;
  margin-top: 1em;
}
.project--links a{
  font-size: 1;
  font-weight: 700;
  text-decoration: none;
  margin: 1em;
  color: #333333;
}

.project--stackuse{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}
.react--stack{
  font-size: clamp(0.95em, 3vw, 1em);
  font-weight: 500;
  box-shadow: 0 0 .6rem rgba(0,0,0,.1);
  padding: 0.4em;
  color: #333333;
} 

/*** Contacts ***/
.contacts-page{
  display: flex;
  flex-direction: column;
  padding: 8em 0;
  
  background-color: var(--bgcolor2);
}

.contacts-container{
  margin: 0 auto;
  width: clamp(20rem, 100vw, 75rem);
  padding: 0 4rem;
}

.contact--title{
  font-size: 1.2em;
  font-weight: 900;
  color: #147EFB;
}

.get--intouch{
  margin-bottom: 3rem;
}

.contact--location,.contact--email{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.location--title, .email--title{
  font-size: 1.2rem;
  font-weight: 700;
}

.my--location,.my--email{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: #999999;
}

.my--email:hover{
  color: #147EFB;
}

.location--icon,.email--icon{
  font-size: 1.3rem;
  color: #147EFB;
}

.location-icon-container,.email-icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 60%;
  box-shadow: 0 0 .6rem rgba(0,0,0,.1);;
}

.contact--content{
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
 
/*** Footer ***/
.page-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 5rem;
  width: 100%;
  background-color: #333333;
  color: #F9F9F9;
  padding: 5vh 5vw;
  gap: 4rem;
  justify-content: center;
  align-content: space-between;
  position: static;
  bottom: 0;
}

.copyright--text{
  font-weight: 600;
}

.social-links-footer{
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  margin: 0 0 0 auto;
}

.linkedin-icon-footer, .git-icon-footer{
  color: #fff;
}

.linkedin-icon-footer:hover, .git-icon-footer:hover{
  font-size: 1.7rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
  /***Header***/
  .my-links{
      display: none;
    }

  .open-menu-button,.close-button{
    display: block;
  }
  
  /***Home Page***/
  .home-container{
    flex-direction: column;
    gap: 2rem;
  }

  .my--description{
    max-width: 20rem;
  }

  .my--image{
    order: -1;
  }

  .my--info{
    text-align: center;
    align-items: center;
  }

  .tech--stacks{
    flex-direction: column;
  }

  .tech-icons-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .stack--text{
    border-bottom: solid #767676 ;
    padding-bottom: .3em;
    margin-bottom: 1em;
    border-right:none;
  }

  /***About***/
  .about-container{
    flex-direction: column;
  }

  .aboutme--image{
    max-width: 100%;
    max-height: auto;
  }

  .aboutme--section{
    text-align: center;
  }
  
/***Projects***/
  .portfolio--item{
    flex-direction: column;
  }

  /***Contact***/
  .contact--content{
    text-align: center;
  }

  .project--image{
    width: 100%;
  }

  .contact--content, .contact--location, .contact--email{
    flex-direction: column;
  }

  /***Footer***/
  .page-footer{
    flex-direction: column;
    gap: 2em;
  }

  .social-links-footer{
    margin: 0;
  }

  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}